<%- include('layout/header')%>

<div class="row admin_content position-absolute d-flex">

    <h3>Dashboard</h3>

    <div class="row ">
        <div class="col-md-3 admin_box" style="position:relative;">
            <i class="fa-solid fa-user"
                style="font-size: 4rem;align-items:center"></i>
            <h2
                style="position: absolute;top:110px;left:45%;text-align:center;padding:10px;color:white;margin: right 30%;"><%=data
                %></h2>
        </div>
        <div class="col-md-3 admin_box">
            <i class="fa-solid fa-pepper-hot"></i>
        </div>
        <div class="col-md-3 admin_box">
            <i class="fa-solid fa-newspaper"></i>
        </div>
        <div class="col-md-3 admin_box">
            <i class="fa-solid fa-money-check"></i>
        </div>

    </div>

</div>

<%- include('layout/footer')%>